@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#contentAlign {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.contentHeader {
    display: flex;
    align-items: center;
}

.contentHeader h1 {
    margin-left: 10px;
    font-size: 40px;
}

.labelForm {
    font-weight: 600;
}

.inputForm {
    border: solid 1px;
    border-bottom: solid black 3px;
}

.buttonsForm {
    margin: 8px;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 900;
    color: white;
    background-color: green;
    border: none;
}

.buttonsForm:hover {
    color: green;
    background-color: lightgreen;
    border: solid 1px yellowgreen;
    cursor: pointer;
}

.buttonsForm:active {
    background-color: yellowgreen;
}

#atividade {
    width: 200px;
}

#nota {
    width: 50px;
}
.aprovado{
    background-color: rgba( 0, 255, 0, 0.5);
}
.reprovado{
    background-color: rgba( 255, 0, 0, 0.5);
}
.emojis{
    width: 15%;
}
table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

table * {
    display: flex;
    width: 100%;
    padding: 3px;
    align-items: center;
    justify-content: space-around;
}

table thead {
    border-bottom: solid black;
}

table tbody tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-top: solid black 1px;
}

tbody {
    display: flex;
    flex-direction: column;
    padding: 0;
}

table tfoot {
    border-top: solid black 1px;
}